<h1>Restaurant</h1>

<ul>
<% @restaurants.each do |restaurant| %>
  <li>
    <strong><%= restaurant.name %></strong>
  </li>
  <% end %>
</ul>

<a href="restaurants/new">Add a New Restaurant</a>

<!--
pe
<%=  %>
er
<%  %>
